@import 'variables';

.todo-task {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: $light_blue;
  border-radius: 20px;
  padding: 35px 30px 20px 20px;
  animation: task-show 1s ease-in-out 1 forwards;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $lighten_blue;
  }
  &__text {
    color: $white;
    font-size: 30px;
    padding: 0px 20px 0px 0px;
    flex: 1 1 auto;
  }
  &__btns {
    position: relative;
  }
  &__btn-config {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease 0s;
    flex: 0 0 50px;
    align-self: flex-start;
    z-index: 1;
    img {
      width: 25px;
    }
    &:hover {
      box-shadow: inset 1px 1px 10px rgba($background_color, 0.5);
    }
  }
  &__btn-complete {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 0;
    transition: all 0.8s ease-in-out, background-color 0.3s linear 0s;
    transition-delay: 0s;
    opacity: 0.5;
    visibility: hidden;
    &:hover {
      background-color: #2bf02b;
      img {
        filter: invert(1);
      }
    }
    .todo-task._active & {
      opacity: 1;
      visibility: visible;
      top: -25px;
      left: -35px;
      z-index: 2;
    }
    img {
      width: 25px;
    }
  }
  &__btn-delete {
    @extend .todo-task__btn-complete;
    transition: all 0.8s ease-in-out 0.5s, background-color 0.3s linear 0s;
    &:hover {
      background-color: #ff0000;
    }
    .todo-task._active & {
      opacity: 1;
      visibility: visible;
      top: 15px;
      left: -50px;
      z-index: 2;
    }
  }
  &__btn-edit {
    @extend .todo-task__btn-complete;
    transition: all 0.8s ease-in-out 1s, background-color 0.3s linear 0s;
    &:hover {
      background-color: #2dd1e3;
    }
    .todo-task._active & {
      opacity: 1;
      visibility: visible;
      top: 45px;
      left: -23px;
      z-index: 2;
    }
  }
  &__date {
    flex: 1 1 100%;
    margin: 15px 0px 0px 0px;
    color: $grey;
  }
}