$background_gradient: linear-gradient(0deg,hsl(236deg 35% 35%) 0%,hsl(228deg 43% 26%) 50%,hsl(220deg 50% 18%) 100%);
$body_color: #393D77;
$black: #000;
$white: #FFFFFF;
$beige: #EDD2BD;
$grey: #D9D9D9;
$lighten_blue: #5291F0;
$complete_task: #928e8e;